# change to .env, add the variables and then you can run this project locally!

# Database string, change to pd2-mysql if using docker-compose-prod
DATABASE_URL=mysql://pd2admin:pd2pass@localhost:3306/pd2

# Adapter - set to Vercel if deploying there, otherwise node to deploy as NodeJS server
ADAPTER=node

# GitHub OAuth variables - see https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/authenticating-to-the-rest-api-with-an-oauth-app
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
