@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Supreme-Variable';
	src:
		url('/fonts/Supreme-Variable.woff2') format('woff2'),
		url('/fonts/Supreme-Variable.woff') format('woff'),
		url('/fonts/Supreme-Variable.ttf') format('truetype');
	font-weight: 100 800;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito-Variable';
	src:
		url('/fonts/Nunito-Variable.woff2') format('woff2'),
		url('/fonts/Nunito-Variable.woff') format('woff'),
		url('/fonts/Nunito-Variable.ttf') format('truetype');
	font-weight: 200 1000;
	font-display: swap;
	font-style: normal;
}

@layer base {
	html {
		font-family: 'Supreme-Variable';
	}
}
